<!DOCTYPE html>
<html ng-app="frontendApp">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}title{% endblock %}</title>
        <link href="{{ asset('static/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div ng-view></div>
        <script src="{{ asset('static/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('static/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('static/angular/angular.js') }}"></script>
        <script src="{{ asset('static/angular-resource.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
        <script src="{{ asset('bundles/nevilfrontend/js/app.js') }}"></script>
        <script src="{{ asset('bundles/nevilfrontend/js/services/lobbyService.js') }}"></script>
        <script src="{{ asset('bundles/nevilfrontend/js/controllers/lobbyController.js') }}"></script>
    </body>
</html>
